* {
    font-family: sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: #c1bdbd;
}

nav {


    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav-items {
    width: 95%;
    display: flex;

    justify-content: space-around;
    align-items: center;

}

.name-site {
    display: flex;

    width: 15vw;
    justify-content: flex-start;
    letter-spacing: 3px;
}

.name-site a {
    text-decoration: none;
    color: black;
}

.nav-lists ul {
    width: 35vw;
    height: 5vh;

    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.22rem;
    flex-wrap: wrap;

}

.nav-lists ul li a {

    text-decoration: none;
    color: rgb(93, 92, 92);
    font-weight: 600;
    transition: all .4s;
}

.nav-lists ul li a:hover {

    font-size: 1.26rem;
    text-shadow: 1px 1px 1px gray;
    color: #f36252;
}

.end-nav {
    width: 20vw;
    height: 4vh;
    display: flex;

    justify-content: space-around;
    align-items: center;

}

.end-nav input {
    font-size: 1rem;
    border-radius: 5px;
    height: 20px;
    outline: none;
    transition: all .4s;
}

.end-nav input:focus {

    border: 1px solid gray;
    height: 25px;
    box-shadow: 2px 2px 2px 2px gray;

}

.img-txt {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 60vh;


}

.texts-btn p {
    color: #223545;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.texts-btn button {

    color: white;
    background-color: #f36252;
    padding: 15px 30px;
    border-radius: 45px;
    border: none;
    font-size: 1.3rem;
    box-shadow: 3px 3px 3px 2px #f36252;
    cursor: pointer;
    transition: all .4s;
}

.texts-btn button:hover {

    color: #223545;

    transform: scale(1.07);
    text-shadow: 1px 1px 1px #2235459d;
}

.first-sec {

    background-color: rgba(245, 245, 245, 0.659);
    height: 30vh;
    transform: scale(0.7);
    border-radius: 10px;
    padding: 40px;
    display: grid;
    grid-template-columns: 75% 25%;

}

.pt1-sec {

    height: 28vh;


}

.child-pt1 {
    display: flex;
    justify-content: space-evenly;

    height: 20vh;

}

.child-pt1 h1 {
    color: #f36252;
    font-size: 2.0rem;
    text-align: center;
}

.child-pt1 p {

    font-size: 1.4rem;
    color: #223545;
}


.pt1-sec h2 {
    text-align: center;
    font-size: 2rem;
    color: #223545;
}

.btn-firs {

    display: flex;
    justify-content: center;
    align-items: center;


}

.btn-firs button {
    color: white;
    background-color: #f36252;
    padding: 15px 30px;
    border-radius: 45px;
    border: none;
    font-size: 2rem;
    box-shadow: 3px 3px 3px 2px #f36252;
    cursor: pointer;
    transition: all .4s;

}

.btn-firs button:hover {

    color: #223545;

    transform: scale(1.07);
    text-shadow: 1px 1px 1px #2235459d;
}

.Remote-jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.Remote-jobs h1 {
    color: #133A3D;
}

.Remote-jobs h5 {
    font-weight: 300;
}

.cards-job {
    display: grid;
    margin: 15px;
    grid-template-columns: repeat(4, 0fr);
    gap: 45px;
    justify-content: center;
    align-content: center;
}

.cards {
    width: 280px;
    height: 240px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: .4s;


}

.cards:hover {
    background-color: #f36252;
    color: white;
    box-shadow: 4px 4px 4px 4px #f36252;
    transform: scale(1.046);
}

.cards-job a {
    text-decoration: none;
    color: #133A3D;
}

.box1 {

    margin: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 15px;

}

.img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    justify-items: center;


}

.micro {
    justify-self: end;
}

.zillow {
    justify-self: start;
}

.ferari {
    justify-self: end;
}

.final {
    justify-self: start;
}

.child-box p {
    color: #223545;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-align: center;
}

hr {
    width: 700px;
    height: 1px;
    background-color: #223545;

}

.subscribe {
    background-color: #f36252;
    border-radius: 8px;

    width: 65vw;
    height: 25vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
}

.subscribe h1 {
    font-size: 2rem;
    letter-spacing: 1px;
}

.subscribe p {
    letter-spacing: 1.5px;

}

.subscribe .input-email {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 450px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

.input-email input {
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;

}

.input-email img {
    position: absolute;
    right: 0px;

}

.input-email a {
    text-decoration: none;
    margin: 0 0 40px 0;
    transition: all .3s;
}

.input-email a :hover {
    width: 41px;
    height: 41px;
}