* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c1bdbd;
}

nav {


    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav-items {
    width: 95%;
    display: flex;

    justify-content: space-around;
    align-items: center;

}

.name-site {
    display: flex;

    width: 15vw;
    justify-content: flex-start;
    letter-spacing: 3px;
}

.name-site a {
    text-decoration: none;
    color: black;
}

.nav-lists ul {
    width: 35vw;
    height: 5vh;

    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.22rem;
    flex-wrap: wrap;

}

.nav-lists ul li a {

    text-decoration: none;
    color: rgb(93, 92, 92);
    font-weight: 600;
    transition: all .4s;
}

.nav-lists ul li a:hover {

    font-size: 1.26rem;
    text-shadow: 1px 1px 1px gray;
    color: rgb(229, 187, 82);
}

.end-nav {
    width: 20vw;
    height: 4vh;
    display: flex;

    justify-content: space-around;
    align-items: center;

}

.end-nav input {
    font-size: 1rem;
    border-radius: 5px;
    height: 20px;
    outline: none;
    transition: all .4s;
}

.end-nav input:focus {

    border: 1px solid gray;
    height: 25px;
    box-shadow: 2px 2px 2px 2px gray;

}

.img-txt {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 60vh;


}

.texts-btn p {
    color: #223545;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.texts-btn button {

    color: white;
    background-color: #f36252;
    padding: 15px 30px;
    border-radius: 45px;
    border: none;
    font-size: 1.3rem;
    box-shadow: 3px 3px 3px 2px #f36252;
    cursor: pointer;
    transition: all .4s;
}

.texts-btn button:hover{

    color: #223545;
    
    transform: scale(1.07);
    text-shadow:1px 1px 1px #2235459d;
}

.first-sec{

    background-color: rgba(245, 245, 245, 0.659);
    height: 30vh;
    transform: scale(0.7);
    border-radius: 10px;
    padding: 40px;
    display: grid;
    grid-template-columns: 75% 25%;
    
}

.pt1-sec{
 
    height: 28vh;
    
 
}

.child-pt1{
    display: flex;
    justify-content:space-evenly;

    height: 20vh;
   
}
.child-pt1 h1{
 color: #f36252;
    font-size: 2.0rem;
    text-align: center;
}
.child-pt1 p{
    
       font-size: 1.4rem;
       color: #223545;
   }


.pt1-sec h2{
    text-align: center;
   font-size: 2rem;
    color: #223545;
}

.btn-firs{
    
    display: flex;
    justify-content: center;
    align-items:center;
    
    
}
.btn-firs button{
    color: white;
    background-color: #f36252;
    padding: 15px 30px;
    border-radius: 45px;
    border: none;
    font-size: 2rem;
    box-shadow: 3px 3px 3px 2px #f36252;
    cursor: pointer;
    transition: all .4s;
    
}

.btn-firs button:hover{

    color: #223545;
    
    transform: scale(1.07);
    text-shadow:1px 1px 1px #2235459d;
}
